    <div class="row">
        <?
        foreach($result as $row) {
            $title = Util::txtlimit($row['ad_title']);
            $desc = Util::txtlimit($row['ad_desc']);
            $admoney = number_format($row['ad_money']);
            $imgurl = $row['ad_img1'];
        ?>
        <div class="span4">
            <img src="<?=$imgurl;?>" class="img-polaroid">
            <p class="text-left"><strong><?=$title;?></strong><br><?=$admoney;?> won / <?=$desc;?></p>
        </div>
        <?
        }
        ?>
    </div>
